.landing-wrapper {
  background-color: aliceblue;
  display: flex;
  /* height: auto; */
  overflow: hidden;
  // width: 100vw;
  // height: 100vh;
  object-fit: cover;
}

.landing-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2rem;
  z-index: 1;
}
