.data-files-table-parent-container {
  .data-files-table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .files-page-title {
    font-size: 38px;
    font-weight: 500;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .files-search-container {
    display: flex;
    align-items: center;
    width: 301.4px;
    height: 48.7px;
    padding: 0 0 0 24.4px;
    border-radius: 6.9px;
    border: solid 1.4px #e0e5ef;
    margin-right: 11.5px;
  }

  .files-search-icon {
    color: #676767;
  }

  .files-search-input {
    border: none;
    margin-left: 16px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.53;
    letter-spacing: -0.36px;
    text-align: left;
    color: #676767;
    width: 100%;
  }

  .files-search-input:focus {
    outline: none;
  }

  .file-button-container {
    display: flex;
  }

  .file-filter-button {
    width: 109.8px;
    height: 49.4px;
    padding: 8.2px 13px 8.2px 15.1px;
    border-radius: 6.9px;
    border: solid 1.4px #e0e5ef;
    background-color: #fff;
    font-size: 19.2px;
    font-weight: 500;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: -0.28px;
    text-align: left;
    color: #676767;
    text-transform: none;
    margin-right: 8px;
  }

  .files-table-header {
    margin-top: 40px;
    min-width: 650px;

    thead {
      background-color: #f5f7fa;
    }

    th {
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      line-height: 1.4;
      letter-spacing: -0.25px;
      text-align: left;
      color: #676767;
    }

    td {
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      line-height: 2.43;
      letter-spacing: -0.36px;
      text-align: left;
      color: #333;

      span {
        font-size: 16.4px;
        font-weight: 500;
        font-stretch: normal;
        letter-spacing: -0.27px;
      }
    }
  }
}
